@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {

    button,
    [type='button'],
    [type='reset'],
    [type='submit'] {
        background-color: #3b82f6;
    }
} */

body {
    background-color: "#f1f5f1";
}

.ant-btn-primary {
    @apply bg-[#1677ff]
}

.ant-spin-dot-item {
    /* background-color: orange !important; */
    @apply bg-slate-700 !important
  }


  .ant-carousel .slick-prev,
  .ant-carousel .slick-prev:hover,
  .ant-carousel .slick-prev:focus {
    font-size: 32px;
    left: 10px;
    z-index: 2;
    color: white;
  }

  .ant-carousel .slick-next,
  .ant-carousel .slick-next:hover,
  .ant-carousel .slick-next:focus {
    font-size: 32px;
    right: 20px;
    z-index: 2;
    color: white;
  }